/* Navigation Section*/
#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    width: 100%;
    height: 3.1rem;
    font-weight: 500;
    font-size: 0.8rem;
    position: sticky;
    top: 0px;
    background-color: #fcfcfc;
    z-index: 5;
}

#nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 30%;
}

#nav-logo img{
    height: 3rem;
}
#nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    background-color:transparent;
    width: 40%;
    align-self: center;
    height: auto;
}

#nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    background-color: transparent !important;
    color: rgb(88, 88, 105);
}
#nav-links ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin: 2rem;
}
#nav-links ul li:hover{
   color: rgb(141, 141, 230);
}

#nav-links ul li:focus{
    background-color: rgb(208, 208, 221) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
}

#nav-button{
    background-color: transparent;
    align-self: center;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction:row;
    gap: 1rem;
}

#nav-button button{
    background-color: #1B47B8;
    font-family: Arial, Helvetica, sans-serif;
    width: 8rem;
    color: white;
    height: 1.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

#nav-button button:hover{
    background-color: #044afc;
    outline: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;

}
#nav-button button:active{
    color: rgb(193, 238, 238);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
#nav-button button::after{
    background-color: #5b87f7;
    outline: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
#nav-button button::before{
    background-color: #a9c7df;
    outline: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
#nav-button button:focus{
    background-color: rgb(50, 161, 224);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}



